<div class="user_show">
  <div class="card">
    <h2 class="card-body">
      <%= @user.name %>
    </h2>
  </div>
  <% if @user.id == current_user.id %>
    <%= link_to "編集する", edit_user_registration_path, class: "btn btn-primary" %>
  <% end %>
</div>