<div class="salons_index">
  <div class="salons_search">
    <p><%= @salons.count %>件の検索結果</p>
  </div>
  <div class="result_order">

  </div>
  <% @salons.each do |salon| %>
    <%= link_to salon_path(salon.id), class: "text-body" do  %>
      <div class="salons card">
        <div class="salons_photo">
          
        </div>
        <div class="salons_name">
          <%= salon.name %>
        </div>
        <div class="salons_rate">

        </div>
        <div class="salons_address">
          住所 : <%= salon.address %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>