<div class="salons_index">
  <div class="salons_search">
    <p>件の検索結果</p>
  </div>
  <div class="result_order">

  </div>
  <% @salons.each do |salons| %>
    <div class="salons">
      <div class="salons_photo">
        
      </div>
      <div class="salons_name">
        
      </div>
      <div class="salons_rate">

      </div>
      <div class="salons_hour">

      </div>
      <div class="salons_access">

      </div>
      <div class="salons_treatment_areas">

      </div>
    </div>
  <% end %>
</div>