@import "bootstrap/scss/bootstrap";

main {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem 4rem 1rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.user_show, .salons_index, .salon_show {
  margin-top: 50px;
}

.salons {
  height: 120px;
  padding: 10px;
}
